body {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  color: white;
  font-family: sans-serif;
}
.background {
  margin: 7rem 0rem 6rem 12rem;
  padding: 2em 0em 0em 27em;
}
.logo {
  width: 200px;
}

.counter_1{
  position:absolute;
  top:110px; right:482px;
  width:140px; height:140px;
  border-radius:50%;
  background:#3a214d;
  box-shadow:
    0 0 0 3px #321345 inset,
    0 0 0 10px #321366 inset,
    0 0 0 18px #321388 inset,
    0 14px 28px #321322;
}

.counter_2{
  position:absolute;
  top:8px; left:8px; right:8px; bottom:8px;
  border-radius:50%;
  background: radial-gradient(
  100px 100px at 30% 30%,
  #321366,
  #321322    
);
  box-shadow: 0 0 0 3px rgba(255,255,255,0.25) inset;
}


#countdown {
  position: absolute;
  top:30%;
  left: 25%;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}

span {
  font-weight: 700;
}
h1 {
  font-size: 4em;
  font-weight: lighter;
  text-align: center;
  padding-right: 6em;
}
.bottone {
  width: 34%;
  font-size: 20px;
  padding: 20px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.08);
  border-color: white;
  box-shadow: -4px -2px 2px 1px rgba(0, 0, 0, 0.57);
  color: white;
  /*usiamo background per dare la trasparenza e riprendere il colore del background della pagina */
  margin-right: 3em;
  margin-bottom: 2em;
}