body {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  color: white;
  font-family: sans-serif;
}
.background {
  margin: 7rem 0rem 6rem 12rem;
  padding: 2em 0em 0em 27em;
}
.logo {
  width: 200px;
}
.counter {
  margin-top: -2em;
  margin-left: 49em;
  margin-bottom: 8em;
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 0.2em solid white;
  position: relative;
}
.counter span {
  font-size: 2em;
}

span {
  font-weight: 700;
}
h1 {
  font-size: 4em;
  font-weight: lighter;
  text-align: center;
  padding-right: 6em;
}
.bottone {
  width: 34%;
  font-size: 20px;
  padding: 20px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.08);
  border-color: white;
  box-shadow: -4px -2px 2px 1px rgba(0, 0, 0, 0.57);
  color: white;
  /*usiamo background per dare la trasparenza e riprendere il colore del background della pagina */
  margin-right: 3em;
  margin-bottom: 2em;
}
