body {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  color: white;
  font-family: sans-serif;
  margin: 7rem 12rem 6rem 12rem;
  padding: 2em 0em 0em 0em;
}

#logo {
  width: 200px;
  text-align: left;
}

.contenitore {
  text-align: center;
}

.contenitore h1 {
  font-size: 6em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

p {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
}

.contenitore-voti {
  text-align: center;
  width: 100%;
  display: table;
  height: 24rem; /* stessa altezza del centrale */
}

.voto {
  width: 33.3%;
  vertical-align: middle; /* centra verticalmente il contenuto */
  display: table-cell;
}
.votoleft {
  text-align: left;
}
.votoright {
  text-align: right;
}
.progress-circle {
  color: white;
  display: inline-block;
  position: relative;
  height: 24rem;
  width: 24rem;
  border-radius: 50%;
  background: conic-gradient(#c2128d 270deg 180deg, #00ffff 180deg 360deg);
  mask-image: radial-gradient(circle, transparent 55%, black 56%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.inner-circle {
  position: absolute;
  width: 95%;
  height: 88%;
  top: 3em;
  left: 3em;
  border-radius: 50%;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  mask-image: none;
}

.congrats {
  text-align: center;
  font-size: 30px;
}

.esito {
  font-size: 4em;
}
.percentuale {
  font-size: 4em;
  font-weight: 700;
}
.contenitore-button {
  text-align: center;
}
#button {
  font-size: 20px;
  font-weight: 700;
  width: 18em;
  height: 4em;
  margin-top: 5em;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 0%;
  border-color: white;
  color: white;
  cursor: pointer;
}
